#users {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.user {
    position: relative;
    width: fit-content;
    height: fit-content;
    border: 2px solid #e3e3e3;
    box-shadow: 2px 3px 10px 0px rgb(0 0 0 / 10%);
    transition: .3s;
    border-radius: 10px;
    margin: 30px;
    animation-name: sleep, append;
    flex: none !important;
}

.user-img {
    transform: inherit;
    transition: .5s;
    width: 64px;
    height: 64px;
}

.datatable .rated-user {
    margin: 0;
    text-align: center;
    font-size: 16px;
}

.user-rating {
    margin: 0;
    text-align: center;
    font-size: 16px;
}

.user-rating-val {
    font-weight: bold;
}


/* RATING */

.headquarters {
    color: #000!important;
    font-weight: 400!important
}

.legendaryGrandmaster {
    color: red!important
}

.internationalGrandmaster {
    color: red!important
}

.grandmaster {
    color: red!important
}

.master {
    color: #ff8c00!important
}

.candidateMaster {
    color: #a0a!important
}

.expert {
    color: blue!important
}

.specialist {
    color: #03a89e!important
}

.pupil {
    color: green!important
}

.newbie {
    color: gray!important
}